@model featuregenie.web.Models.FeaturesViewModel
    @if (Model.Features.Count > 0)
    {
        <table class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Feature ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Is Enabled
                    </th>
                    <th>
                        Start Time
                    </th>
                    <th>
                        End Time
                    </th>
                    <th>
                        Ratio
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Features)
                {
                    <tr>
                        <td>
                            @row.FeatureId
                        </td>
                        <td>
                            @row.Name
                        </td>
                        <td>
                            @row.IsEnabled
                        </td>
                        <td>
                            @row.StartTime
                        </td>
                        <td>
                            @row.EndTime
                        </td>
                        <td>
                            @row.Ratio
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Feature", new { id = row.FeatureId }, new { @class = "modal-link" })&nbsp;|&nbsp;
                            @Ajax.ActionLink("Delete", "Delete", "Feature", new { id = row.FeatureId }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "features"})
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="7">
                        <i class="fa fa-plus" style="color: green"></i> @Html.ActionLink("Add", "Create", "Feature", new { applicationId = Model.ApplicationId }, new { @class = "modal-link" })
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <h3>
            No features available.  Add a new feature @Html.ActionLink("here.", "Create", "Feature", new { applicationId=Model.ApplicationId }, new { @class = "modal-link" })
        </h3>
    }