@model featuregenie.web.Models.ConfigurationSettingsViewModel
    @if (Model.Settings.Any())
    {
        <table class="table table-condensed table-bordered table-striped">
            <tr>
                <th>
                    Setting
                </th>
                <th>
                    Value
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Settings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Configuration", new { id = item.ConfigurationId }, new { @class = "modal-link" })&nbsp;|&nbsp;
                        @Html.ActionLink("Delete", "Delete", "Configuration", new { applicationId = item.ApplicationId }, new { @class = "modal-link" })
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4">
                    <i class="fa fa-plus" style="color: green"></i> @Html.ActionLink("Add", "Create", "Configuration", new { applicationId = Model.ApplicationId }, new { @class = "modal-link" })
                </td>
            </tr>
        </table>
    }
    else
    {
        <h3>
            No configuration settings available.  Add a new setting @Html.ActionLink("here.", "Create", "Configuration", new { applicationId = Model.ApplicationId }, new { @class = "modal-link" })
        </h3>
    }