@model IEnumerable<featuregenie.web.Models.ConfigurationSetting>
<div class="col-md-12">
    @if (Model.Any())
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        <a href="#" class="btn btn-sm" data-action="edit-configuration-setting" data-configuration-id="@item.ConfigurationId">Edit</a>
                        <a href="#" class="btn btn-sm btn-danger" data-action="delete-configuration-setting" data-configuration-id="@item.ConfigurationId">Delete</a>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4">
                    <a href="#" id="createConfigurationSettingLink"><i class="fa fa-plus" style="color: green"></i> Add</a>
                </td>
            </tr>
        </table>
    }
    else
    {
        <h3>
            No configuration settings available.  Add a new setting <a href="#" id="createConfigurationSettingLink">here.</a>
        </h3>
    }
</div>