@model featuregenie.web.Models.Application
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create Application</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            @using (Ajax.BeginForm("CreateApplication", "Home", new AjaxOptions(){InsertionMode = InsertionMode.Replace, UpdateTargetId = "applications", OnSuccess = "createFeatureSubmit"}, new { @class = "form-horizontal", id = "newApplicationForm" }))
            {
                <div class="form-group">
                    @Html.LabelFor(x => x.Name, new{@class="col-sm-3 control-label"})
                    <div class="col-lg-9">
                        @Html.TextBoxFor(x => x.Name, new {@class="form-control"})
                        @Html.ValidationMessageFor(e => e.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Description, new { @class = "col-sm-3 control-label" })
                    <div class="col-lg-9">
                        @Html.TextAreaFor(x => x.Description, new {@class="form-control", rows="10"})
                    </div>
                </div>
            }                            
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="saveApplicationButton">Save changes</button>
</div>

<script>
    $(function () {
        $.validator.unobtrusive.parse($("#newApplicationForm"));

        $("#saveApplicationButton").click(function () {
            $("#newApplicationForm").submit();
        });

        $("#newApplicationForm").submit(function () {
            if ($(this).valid()) {
                $("#modal-container").modal("hide");
            }
        });

        $("#Name").focus();
    });
</script>